/*Style for top and bottom line of burger*/
.shownav {
    height: 20px;
    width: 40px;
    position: relative;
    display: block;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    border-radius: 5px;
    }

/*Style for middle line of burger*/
.shownav:before {
    content: '';
    position: absolute;
    width: 100%;
    top: 7px;
    left: 0px;
    border-top: 0.2em solid #fff;
    display: block;
    }

/*Style for nav (before burger is clicked)*/
nav {
    display: none;
    background-color: lightcoral;
    position: fixed;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100vh;
}

/*Style for nav (when burger is clicked)*/
nav:target {
    display: block;
    background-color: lightcoral;
    position: fixed;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100vh;
}

/*Background Image for Website*/
body {
    background: url("Night\ Sky\ Wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/*Wildcard that removes the web page's default margin and padding*/
* {
    margin: 0;
    padding: 0;
}

/*Style for header*/
header {
    color: white;
    font-size: 35px;
    background-color: lightblue;
    padding: 30px;
}

/*Style for main*/
main {
    color: white;
    font-size: 35px;
    text-align: center;
}

/*Style for each list*/
nav ul li {
    list-style-type: none;
    font-size: 20px;
    color: cyan;
    font-family: arial;
    text-align: center;
    padding: 20px;
}

/*Style for Anchors in a li which is in a ul*/
ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    position: relative;
}

/*Remove outlines from all inputs and textarea*/
input:focus {
    outline:none;
}

textarea:focus {
    outline:none;
}

/*Style for all inputs*/
input[type=text] {
    width: 400px;
    height:30px;
    box-sizing: border-box; 
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    font-size: 25px;
    color: white;
}

input[type=email] {
    width: 400px;
    height:30px;
    box-sizing: border-box; 
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    font-size: 25px;
    color: white;
}

input[type=submit] {
    width: 400px;
    height:30px;
    box-sizing: border-box; 
    font-size: 20px;
}

/*Style for textarea*/
textarea {
    width: 400px;
    height:100px;
    box-sizing: border-box; 
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    font-size: 25px;
    color: white;
    resize: vertical;
}

/*Style for the X (Close feature to close bar menu)*/
.Close {
    color: darkblue;
    font-size: 25px;
    text-decoration: none;
}



