/*Style for top and bottom line of burger*/
.shownav {
    height: 20px;
    width: 40px;
    position: relative;
    display: block;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    border-radius: 5px;
    }

/*Style for middle line of burger*/
.shownav:before {
    content: '';
    position: absolute;
    width: 100%;
    top: 7px;
    left: 0px;
    border-top: 0.2em solid #fff;
    display: block;
    }

/*Style for nav (before burger is clicked)*/
nav {
    display: none;
    background-color: lightcoral;
    position: fixed;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100vh;
}

/*Style for nav (when burger is clicked)*/
nav:target {
    display: block;
    background-color: lightcoral;
    position: fixed;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100vh;
}

/*Background Image for Website*/
body {
    background: url("Night\ Sky\ Wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/*Wildcard that removes the web page's default margin and padding*/
* {
    margin: 0;
    padding: 0;
}

/*Style for header*/
header {
    color: white;
    font-size: 35px;
    background-color: lightblue;
    padding: 30px;
}

/*Style for main*/
main {
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

/*Style for each list*/
nav ul li {
    list-style-type: none;
    font-size: 20px;
    color: cyan;
    font-family: arial;
    text-align: center;
    padding: 20px;
}

/*Style for Anchors in a li which is in a ul*/
ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    position: relative;
}

/*Styles for each list in skills class*/
.skills ul li {
    text-align: center;
    list-style: none;
    font-size: 25px;
}

/*Styles for each list in interests class*/
.interests ul li {
    text-align: center;
    list-style: none;
    font-size: 25px;
}

/*Styles for each list in experience class*/
.experience ul li {
    font-weight: bold;
    font-size: 30px;
    list-style: none;
}

/*Padding for all div classes*/
div {
    padding: 20px;
}

/*Style for the X (Close feature to close bar menu)*/
.Close {
    color: darkblue;
    font-size: 25px;
    text-decoration: none;
}

