/*Wildcard that removes the web page's default margin and padding*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Style for header*/
header {
    color: white;
    font-size: 35px;
    background-color: lightblue;
    padding: 30px;
}

/*Style for Anchors in a li which is in a ul*/
ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    position: relative;
}

/*Style and Structure of ul in nav*/
nav ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    font-size: 20px;
    color: cyan;
    font-family: arial;
    text-align: center;
    background-color: lightcoral;
    padding: 20px;
}

/*Background Image for Website*/
body{
    background: url("Night\ Sky\ Wallpaper.jpg");
    background-size: cover;
    max-width: 100%;
}

/*Style for the main content*/
main {
    font-size: 20px;
    color: white;
}

/*Hover line animation effect on menus*/
ul li a:before {
    content: '';
    width: 0px;
    height: 5px;
    background: blue;
    position: absolute;
    top: 100%;
    left: 0;
    transition: 0.5s;
}

ul li:hover a:before {
    width: 50%;
    transform: translateX(100%);
}

/*Style for h2*/
h2 {
    padding-top: 25px;
}

/*Style for screenshot class*/
.screenshot {
    padding:20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/*Remove X (Close Function) for burger in desktop mode */
.Close {
    display: none;
}